<plugin name='banner-general-person' version='1.0.16' grailsVersion='1.3.7 &gt; *'>
  <author>SunGard Higher Education</author>
  <authorEmail>horizon-support@sungardhe.com</authorEmail>
  <title>BannerGeneralPersomn Plugin</title>
  <description>This plugin is BannerGeneralValidationCommon.</description>
  <documentation>http://sungardhe.com/development/horizon/plugins/banner-general-validation</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.sungardhe.banner.general.person.search.PersonSearchController</resource>
    <resource>com.sungardhe.banner.general.person.MedicalInformation</resource>
    <resource>com.sungardhe.banner.general.person.PersonAddress</resource>
    <resource>com.sungardhe.banner.general.person.PersonEmail</resource>
    <resource>com.sungardhe.banner.general.person.PersonIdentificationName</resource>
    <resource>com.sungardhe.banner.general.person.PersonRelatedHold</resource>
    <resource>com.sungardhe.banner.general.person.PersonTelephone</resource>
    <resource>com.sungardhe.banner.general.person.view.NonPersonPersonView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonAdditionalIdView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonAdvancedAlternateIdFilterView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonAdvancedFilterView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonAdvancedSearchView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonAlternateIdView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonEmailView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonPersonView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonPhoneView</resource>
    <resource>com.sungardhe.banner.general.person.view.PersonView</resource>
    <resource>com.sungardhe.banner.general.person.MedicalInformationCompositeService</resource>
    <resource>com.sungardhe.banner.general.person.MedicalInformationService</resource>
    <resource>com.sungardhe.banner.general.person.PersonIdentificationNameService</resource>
    <resource>com.sungardhe.banner.general.person.PersonRelatedHoldService</resource>
    <resource>com.sungardhe.banner.general.person.PersonSearchService</resource>
    <resource>com.sungardhe.banner.general.person.PersonUtility</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>